<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hemeiyue.dao.AdminsMapper" >
	
	<resultMap id="BaseResultMap" type="com.hemeiyue.entity.Admin" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="adminName" property="adminName" jdbcType="VARCHAR" />
		<result column="signature" property="signature" jdbcType="VARCHAR" />
		<result column="avatar" property="avatar" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="parentId" property="parentId" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="salt" property="salt" jdbcType="VARCHAR" />
		<result column="regStatus" property="regStatus" jdbcType="INTEGER" />
		<association property="school" column="schoolId" select="com.hemeiyue.dao.SchoolsMapper.selectById" />
	</resultMap>
	
	<sql id="Base_Column_List" >
		id,account,password,adminName,signature,avatar,phone,email,parentId,schoolId,status,regStatus
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select 
        <include refid="Base_Column_List" />
        from admins
        where id = #{id,jdbcType=INTEGER}
	</select>
	
	<insert id="insert" parameterType="com.hemeiyue.entity.Admin" >
        insert into admins (id,account,password,adminName,
        		signature,avatar,phone,email,parentId,status,salt,regStatus,schoolId
            )
        values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
            #{adminName,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR},
            #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
            #{status,jdbcType=VARCHAR},#{salt,jdbcType=VARCHAR}
            )
    </insert>
	
	
	<insert id="insertSelective" parameterType="com.hemeiyue.entity.Admin" >
        insert into admins
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="account != null" >
                account,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="adminName != null" >
                adminName,
            </if>
            <if test="signature != null" >
                signature,
            </if>
            <if test="avatar != null" >
                avatar,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="parentId != null" >
                parentId,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="salt != null" >
                salt,
            </if>
            <if test="regStatus != null" >
                regStatus,
            </if>
            <if test="school != null" >
                schoolId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="account != null" >
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="adminName != null" >
                #{adminName,jdbcType=VARCHAR},
            </if>
            <if test="signature != null" >
                #{signature,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null" >
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null" >
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="salt != null" >
                #{salt,jdbcType=VARCHAR}
            </if>
            <if test="regStatus != null" >
                #{regStatus,jdbcType=VARCHAR}
            </if>
            <if test="school != null" >
                #{school.id,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    
    <update id="updateByPrimaryKeySelective" parameterType="com.hemeiyue.entity.Admin" >
        update admins
        <set >
            <if test="account != null" >
               account =  #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="adminName != null" >
                adminName = #{adminName,jdbcType=VARCHAR},
            </if>
            <if test="signature != null" >
                signature = #{signature,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null" >
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null" >
                parentId = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="salt != null" >
               salt=  #{salt,jdbcType=VARCHAR},
            </if>
            <if test="regStatus != null" >
               regStatus =  #{regStatus,jdbcType=VARCHAR},
            </if>
            <if test="school != null" >
               schoolId = #{school.id,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <update id="updateByPrimaryKey" parameterType="com.hemeiyue.entity.Admin" >
        update admins
        set account =  #{account,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR},
            adminName = #{adminName,jdbcType=VARCHAR},
            signature = #{signature,jdbcType=VARCHAR},
            avatar = #{avatar,jdbcType=VARCHAR},
            phone = #{phone,jdbcType=VARCHAR},
            email = #{email,jdbcType=VARCHAR},
            parentId = #{parentId,jdbcType=INTEGER},
            status = #{status,jdbcType=VARCHAR},
            salt = #{salt,jdbcType=VARCHAR},
            regStatus = #{regStatus,jdbcType=VARCHAR},
            schoolId = #{school.id,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <select id="login" resultMap="BaseResultMap" parameterType="com.hemeiyue.entity.Admin">
		select 
        <include refid="Base_Column_List" />
        from admins
        where account = #{account} and password = #{password} and regStatus = '1'
	</select>
	
	<select id="selectAll" resultMap="BaseResultMap" parameterType="com.hemeiyue.entity.Admin">
		select 
        <include refid="Base_Column_List" />
        from admins
        where roleid = '1' or '2'
	</select>
	
	<select id="checkAccount" resultMap="BaseResultMap" parameterType="java.lang.String">
		select 
        <include refid="Base_Column_List" />
        from admins
        where account = #{account}
	</select>
	
	<select id="selecTenant" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select 
        id,adminName,phone,Email,schoolId
        from admins
        where parentId = '0' and regStatus = #{regStatus,jdbcType=VARCHAR}
	</select>
	
	<update id="updateStatus" parameterType="java.lang.Integer">
		update admins
		set regStatus = #{regStatus,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>
