<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hemeiyue.dao.BookingsMapper" >

    <resultMap id="BaseResultMap" type="com.hemeiyue.entity.Bookings" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="CDT" property="CDT" jdbcType="TIMESTAMP"/>
        <result column="bookingDate" property="bookingDate" jdbcType="TIMESTAMP"/>
        <association property="roomPeriod" column="roomPeriodId" select="com.hemeiyue.dao.RoomperiodsMapper.selectById" />
        <association property="user" column="userId" select="com.hemeiyue.dao.UsersMapper.selectByPrimaryKey" />
        <association property="school" column="schoolId" select="com.hemeiyue.dao.SchoolsMapper.selectById" />
    </resultMap>
    
    
    <select id="getApplyCount" parameterType="Schools" resultType="Long">
    	select count(*) from bookings 
    	<where>
    		<if test="school != null">and school=#{school.id}</if>
    	</where>
    </select>

    <sql id="Base_Column_List" >
        id, roomPeriodId, userId, CDT, status, remark,schoolId,bookingDate
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from bookings
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from bookings
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.hemeiyue.entity.Bookings" >
        insert into bookings (id, roomPeriodId, userId,bookingDate, 
            CDT, status, remark
            )
        values (#{id,jdbcType=INTEGER}, #{roomperiodid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{bookingDate}
            #{cdt,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.hemeiyue.entity.Bookings" >
        insert into bookings
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="roomperiodid != null" >
                roomPeriodId,
            </if>
            <if test="userid != null" >
                userId,
            </if>
            <if test="bookingDate != null">
            	bookingDate,
            </if>
            <if test="cdt != null" >
                CDT,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="school != null" >
                schoolId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="roomperiodid != null" >
                #{roomperiodid,jdbcType=INTEGER},
            </if>
            <if test="userid != null" >
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="bookingDate != null">
            	#{bookingDate,jdbcType=TIMESTAMP},
            </if>
            <if test="cdt != null" >
                #{cdt,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="school != null" >
                #{school.id,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hemeiyue.entity.Bookings" >
        update bookings
        <set >
            <if test="roomPeriod != null" >
                roomPeriodId = #{roomPeriod.id,jdbcType=INTEGER},
            </if>
            <if test="user != null" >
                userId = #{user.id,jdbcType=INTEGER},
            </if>
            <if test="bookingDate != null">
            	bookingDate = #{bookingDate,jdbcType=TIMESTAMP},
            </if>
            <if test="CDT != null" >
                CDT = #{CDT,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="school != null" >
                schoolId = #{school.id,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.hemeiyue.entity.Bookings" >
        update bookings
        set roomPeriodId = #{roomperiodid,jdbcType=INTEGER},
            userId = #{userid,jdbcType=INTEGER},
            bookingDate = #{bookingDate,jdbcType=TIMESTAMP},
            CDT = #{cdt,jdbcType=TIMESTAMP},
            status = #{status,jdbcType=INTEGER},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <select id="findAllBooks" resultMap="BaseResultMap" parameterType="Integer">
    	select * from bookings where schoolId = #{schoolId} and status != -1
    </select>
    
    <select id="findMyBooks" resultMap="BaseResultMap" parameterType="Integer">
    	select id, roomPeriodId, userId, CDT, status, remark,schoolId,bookingDate
    	 from bookings where userId = #{userId} and status != -1 order by date desc
    </select>
    
    <select id="findSamePeriodBooks" resultMap="BaseResultMap" parameterType="Integer">
    	select * from bookings where roomPeriodId = #{roomPeriodId} and status = 0
    </select>
    
    <select id="findMyBooksWithoutTimeOut" resultMap="BaseResultMap" parameterType="com.hemeiyue.entity.Bookings">
    	select id, roomPeriodId, userId, CDT, status, remark,schoolId,bookingDate
    	 from bookings where 
    	 <if test="user != null" >
         	userId = #{user.id} and
         </if>
         <if test="bookingDate != null" >
        	 bookingDate >  #{bookingDate} and
         </if>
         <if test="id != null">
         	id = #{id} and
         </if>
    	 status != -1 order by CDT desc
    </select>
    
    <select id="findBooksByRoomPeriod" resultMap="BaseResultMap" parameterType="Integer">
    	select id, roomPeriodId, userId, CDT, status, remark,schoolId,bookingDate
    	 from bookings where roomPeriodId = #{roomPeriodId}
    </select>
</mapper>