<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hemeiyue.dao.BookingsMapper" >

    <resultMap id="BaseResultMap" type="com.hemeiyue.entity.Bookings" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="roomPeriodId" property="roomperiodid" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <association property="roomPeriod" column="roomPeriodId" select="com.hemeiyue.dao.RoomPeriodsMapper.selectById" />
        <association property="user" column="userId" select="com.hemeiyue.dao.UsersMapper.selectByPrimaryKey" />
    </resultMap>
    
    <select id="getApplyCount" parameterType="Schools" resultType="Long">
    	select count(*) from bookings 
    	<where>
    		<if test="school != null">and school=#{school.id}</if>
    	</where>
    </select>

    <sql id="Base_Column_List" >
        id, roomPeriodId, userId, CDT, status, remark
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from bookings
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from bookings
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.hemeiyue.entity.Bookings" >
        insert into bookings (id, roomPeriodId, userId, 
            CDT, status, remark
            )
        values (#{id,jdbcType=INTEGER}, #{roomperiodid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
            #{cdt,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.hemeiyue.entity.Bookings" >
        insert into bookings
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="roomperiodid != null" >
                roomPeriodId,
            </if>
            <if test="userid != null" >
                userId,
            </if>
            <if test="cdt != null" >
                CDT,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="remark != null" >
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="roomperiodid != null" >
                #{roomperiodid,jdbcType=INTEGER},
            </if>
            <if test="userid != null" >
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="cdt != null" >
                #{cdt,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hemeiyue.entity.Bookings" >
        update bookings
        <set >
            <if test="roomperiodid != null" >
                roomPeriodId = #{roomperiodid,jdbcType=INTEGER},
            </if>
            <if test="userid != null" >
                userId = #{userid,jdbcType=INTEGER},
            </if>
            <if test="cdt != null" >
                CDT = #{cdt,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.hemeiyue.entity.Bookings" >
        update bookings
        set roomPeriodId = #{roomperiodid,jdbcType=INTEGER},
            userId = #{userid,jdbcType=INTEGER},
            CDT = #{cdt,jdbcType=TIMESTAMP},
            status = #{status,jdbcType=INTEGER},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>