<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hemeiyue.dao.PeriodsMapper" >

    <resultMap id="BaseResultMap" type="com.hemeiyue.entity.Periods" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="period" property="period" jdbcType="VARCHAR" />
        <result column="beginTime" property="beginTime" jdbcType="TIMESTAMP" />
        <result column="endTime" property="endTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id, period, beginTime, endTime, adminId
    </sql>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        beginTime, endTime
        from periods
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from periods
        where id = #{id,jdbcType=INTEGER}
    </delete>
	
	 <!-- 批量插入 -->
    <insert id="insertList" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
    	insert into periods values
    	<foreach collection="list" item="item" index="index" separator=",">
    		(null, #{item.period},#{item.beginTime},#{item.endTime},#{item.admin.id})
    	</foreach>
    </insert>
	
    <insert id="insert" parameterType="com.hemeiyue.entity.Periods" useGeneratedKeys="true" keyProperty="id">
        insert into periods
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="period != null" >
                period,
            </if>
            <if test="beginTime != null" >
                beginTime,
            </if>
            <if test="endTime != null" >
                endTime,
            </if>
            <if test="admin != null" >
                adminId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="period != null" >
                #{period,jdbcType=VARCHAR},
            </if>
            <if test="beginTime != null" >
                #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null" >
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="admin != null" >
                #{admin.id,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hemeiyue.entity.Periods" >
        update periods
        <set >
            <if test="period != null" >
                period = #{period,jdbcType=VARCHAR},
            </if>
            <if test="beginTime != null" >
                beginTime = #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null" >
                endTime = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="adminid != null" >
                adminId = #{adminid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.hemeiyue.entity.Periods" >
        update periods
        set period = #{period,jdbcType=VARCHAR},
            beginTime = #{beginTime,jdbcType=TIMESTAMP},
            endTime = #{endTime,jdbcType=TIMESTAMP},
            adminId = #{adminid,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>