<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hemeiyue.dao.SchoolsMapper" >

    <resultMap id="BaseResultMap" type="com.hemeiyue.entity.Schools" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="school" property="school" jdbcType="VARCHAR" />
        <result column="CDT" property="CDT" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <association property="owner" column="ownerId" select="com.hemeiyue.Dao.AdminsMapper.selectById"/>
    </resultMap>
    
    <select id="find" parameterType="Map" resultMap="BaseResultMap">
    	select *from schools
    	<where>
    		<if test="school!=null and school!=''">and school=#{school}</if>
    	</where>
    	<if test="start!=null and size!=null">limit #{start},#{size}</if>
    </select>
    
    <select id="getTotal" parameterType="Map" resultType="Long">
    	select count(*) from schools
    	<where>
    		<if test="school!=null and school!=''">and school=#{school}</if>
    	</where>
    </select>

    <sql id="Base_Column_List" >
        id, school, ownerId, CDT, status
    </sql>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        *
        from schools
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer" >
        delete from schools
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.hemeiyue.entity.Schools" >
        insert into schools
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="school != null" >
                school,
            </if>
            <if test="ownerid != null" >
                ownerId,
            </if>
            <if test="cdt != null" >
                CDT,
            </if>
            <if test="status != null" >
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="school != null" >
                #{school,jdbcType=VARCHAR},
            </if>
            <if test="ownerid != null" >
                #{ownerid,jdbcType=INTEGER},
            </if>
            <if test="cdt != null" >
                #{cdt,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.hemeiyue.entity.Schools" >
        update schools
        <set >
            <if test="school != null" >
                school = #{school,jdbcType=VARCHAR},
            </if>
            <if test="ownerid != null" >
                ownerId = #{ownerid,jdbcType=INTEGER},
            </if>
            <if test="cdt != null" >
                CDT = #{cdt,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <select	id="findSchool" parameterType="String" resultType="Integer">
    	select count(*) from schools where school = #{school,jdbcType=VARCHAR}
    </select>
</mapper>