<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hemeiyue.dao.UsersMapper" >

    <resultMap id="BaseResultMap" type="com.hemeiyue.entity.Users" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="openId" property="openId" jdbcType="VARCHAR" />
        <result column="userName" property="userName" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="studentNum" property="studentNum" jdbcType="VARCHAR" />
         <result column="classRoom" property="classRoom" jdbcType="VARCHAR" />
        <association property="school" column="schoolId" select="com.hemeiyue.dao.SchoolsMapper.selectById" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, openId, userName, email, phone, address,studentNum,classRoom
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
         userName, phone, address,studentNum,classRoom
        from users
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from users
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.hemeiyue.entity.Users" >
        insert into users (id, openId, schoolId, 
            userName, email, phone, classRoom,
            address,studentNum)
        values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{schoolId,jdbcType=INTEGER}, 
            #{userName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{classRoom,jdbcType=VARCHAR},
            #{address,jdbcType=VARCHAR},#{studentNum,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.hemeiyue.entity.Users" >
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="openId != null" >
                openId,
            </if>
            <if test="school != null" >
                schoolId,
            </if>
            <if test="userName != null" >
                userName,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="address != null" >
                address,
            </if>
            <if test="classRoom != null" >
                classRoom,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="openId != null" >
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="school != null" >
                #{school.id,jdbcType=INTEGER},
            </if>
            <if test="userName != null" >
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="studentNum != null" >
                #{studentNum,jdbcType=VARCHAR},
            </if>
            <if test="classRoom != null" >
                #{classRoom,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hemeiyue.entity.Users" >
        update users
        <set >
            <if test="openId != null" >
                openId = #{openId,jdbcType=VARCHAR},
            </if>
            <if test="schoolId != null" >
                schoolId = #{schoolId,jdbcType=INTEGER},
            </if>
            <if test="userName != null" >
                userName = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="studentNum != null" >
                studentNum = #{studentNum,jdbcType=VARCHAR},
            </if>
            <if test="classRoom != null" >
               classRoom = #{classRoom,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.hemeiyue.entity.Users" >
        update users
        set openId = #{openId,jdbcType=VARCHAR},
            schoolId = #{schoolId,jdbcType=INTEGER},
            userName = #{userName,jdbcType=VARCHAR},
            email = #{email,jdbcType=VARCHAR},
            phone = #{phone,jdbcType=VARCHAR},
            address = #{address,jdbcType=VARCHAR},
            studentNum = #{studentNum,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <select id="selectByOpenId" resultMap="BaseResultMap" parameterType="java.lang.String">
    	select 
        <include refid="Base_Column_List" />
        from users
        where openId = #{openId,jdbcType=VARCHAR}
    </select>
</mapper>